<div class="relative px-2">
  <button (click)="toggleDropdown()"
          class="inline-flex relative stats-card text-white items-center justify-center  py-2 pl-3 pr-12 text-sm font-medium transition-colors gradient-bg  rounded-md  hover:bg-primary   active:bg-primary focus:bg-primary focus:outline-none disabled:opacity-50 disabled:pointer-events-none">
    <img src="https://cdn.devdojo.com/images/may2023/adam.jpeg"
         class="object-cover w-8 h-8 border rounded-full border-neutral-200" />
    <span class="flex flex-col items-start flex-shrink-0 h-full ml-2 leading-none translate-y-px">
      <span>Adam Wathan</span>
      <span class="text-xs font-light text-neutral-400">adamwathan</span>
    </span>
    <svg class="absolute right-0 w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg"
         fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
    </svg>
  </button>

  <div *ngIf="dropdownOpen"
       class="absolute top-0 w-56 mt-12  transition-all duration-200" style="z-index: 300 !important;">
    <div class="p-1 mt-1 text-white rounded-md shadow-xl  gradient-bg">
      <div class="px-2 py-1.5 text-sm font-semibold">My Account</div>
      <div class="h-px my-1 -mx-1 bg-neutral-200"></div>

      <a href="#" class="dropdown-item">
        <svg class="icon" viewBox="0 0 24 24"><path d="M19 21v-2a4 4..."/></svg>
        <span>Profile</span>
        <span class="shortcut">⇧⌘P</span>
      </a>

      <a href="#" class="dropdown-item">
        <svg class="icon" viewBox="0 0 24 24"><rect width="20" height="14" x="2" y="5" rx="2"></rect><line x1="2" x2="22" y1="10" y2="10"></line></svg>
        <span>Billing</span><span class="shortcut">⌘B</span>
      </a>

      <a href="#" class="dropdown-item">
        <svg class="icon" viewBox="0 0 24 24"><path d="M12.22 2h-.44..."/></svg>
        <span>Settings</span><span class="shortcut">⌘S</span>
      </a>

      <a href="#" class="dropdown-item">
        <svg class="icon" viewBox="0 0 24 24"><rect width="20" height="16" x="2" y="4" rx="2" ry="2"></rect><path d="M6 8h.001"></path>...</svg>
        <span>Keyboard shortcuts</span><span class="shortcut">⌘K</span>
      </a>

      <div class="h-px my-1 -mx-1 bg-neutral-200"></div>

      <div class="dropdown-item">
        <svg class="icon" viewBox="0 0 24 24"><path d="M16 21v-2..."/></svg>
        <span>Team</span>
      </div>

      <div class="dropdown-item">
        <svg class="icon" viewBox="0 0 24 24"><path d="M16 21v-2..."/></svg>
        <span>Invite users</span>
      </div>
    </div>
  </div>
</div>
