<div *ngIf="isOpen" class="fixed inset-0 z-50 flex items-center justify-center w-screen h-screen">
  <!-- Overlay -->
  <div
    class="absolute inset-0 bg-gray-900 bg-opacity-50 backdrop-blur-sm transition-opacity"
    (click)="closeOnOutsideClick()"
  ></div>

  <!-- Modal content -->
  <div
    class="relative w-full px-7 py-6 gradient-bg bg-opacity-90 shadow-md drop-shadow-md backdrop-blur-sm sm:max-w-lg sm:rounded-lg transform transition-all duration-300 scale-100"
    tabindex="-1"
  >
    <div class="flex items-center justify-between pb-3">
      <ng-content select="[modal-header]"></ng-content>
      <button
        (click)="close()"
        class="absolute top-0 right-0 flex items-center justify-center w-8 h-8 mt-5 mr-5 text-gray-600 rounded-full hover:text-white hover:bg-primary"
      >
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="relative w-auto pb-8 text-black">
      <ng-content select="[modal-content]"></ng-content>
    </div>

    <!-- Footer buttons -->
    <div >
      <ng-content  select="[modal-footer]"></ng-content>
      <!-- <button
        type="button"
        (click)="close()"
        class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors border rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-100 focus:ring-offset-2"
      >
        Previous
      </button>
      <button
        type="button"
        (click)="close()"
        class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-colors border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-900 focus:ring-offset-2 bg-neutral-950 hover:bg-neutral-900"
      >
        Next
      </button> -->
    </div>
  </div>
</div>
